<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>    
    <script src="js/bootstrap.min.js" ></script>
</head>
<body>
    <!-- <pre>
        <code>
            var <var>count</var>=0;
            count=100;
            ocnsole.log(count);
        </code>
    </pre> -->

    <div class="w-auto">
        <figure class="figure">
            <img src="./images/bb.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
    </div>



</body>
</html>